{% load static %}
{% include 'base.html' %}

{% block content %}

<body>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            {% include 'includes/dnavbar.html' %}

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    {% include 'includes/sidebar.html' %}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">

                                        <div class="card">
                                            <div class="card-header">
                                                <div class="d-flex align-items-center">
                                                    <h5>EDIT USER</h5>
                                                    <div class="ml-auto">
                                                        <a href="#" class="btn btn-primary">
                                                            CHANGE PASSWORD
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <form class="form-material" action="/epani/edit_user/?id={{usr.id}}"
                                                    method='POST'>
                                                    {% csrf_token %}

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group form-primary">
                                                                <input type="text" name="first-name"
                                                                    value={{usr.first_name}} class="form-control"
                                                                    required="">
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">First Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group form-primary">
                                                                <input type="text" name="last-name" class="form-control"
                                                                    value={{usr.last_name}} required="">
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Last Name</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {% comment %} <div class="form-group form-default">
                                                        <input type="text" name="phone-number" class="form-control"
                                                            value="{{usr.email}}" required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Email Address</label>
                                                    </div> {% endcomment %}

                                                    <div class="form-group form-default">
                                                        <input type="text" name="phone-number" class="form-control"
                                                            value="{{usr.phone_number}}" required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Phone Number</label>
                                                    </div>

                                                    {% if usr.is_user %}

                                                    <div class="form-group row">
                                                        <label class="col-sm-1 col-form-label">Machine</label>
                                                        <div class="col-sm-11">
                                                            <select name="machine-id" class="form-control">
                                                                <option value="{{usr.machine_id}}">
                                                                    {% if not usr.machine_id %} Select Machine
                                                                    {% else %} {{usr.machine_id}} {% endif %} </option>
                                                                {% if not usr.machine_id %}
                                                                {% for machine in machines %}
                                                                <option value="{{machine.machine_id}}">{{machine}}
                                                                </option>
                                                                {% endfor %}
                                                                {% else %}
                                                                {% for machine in excluding_user_mac_macs %}
                                                                <option value="{{machine.machine_id}}">{{machine}}
                                                                </option>
                                                                {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if usr.is_cluster %}

                                                    <div class="form-group row">
                                                        <label class="col-sm-1 col-form-label">Cluster</label>
                                                        <div class="col-sm-11">
                                                            <select name="cluster-id" class="form-control">
                                                                <option value="{{usr.cluster_id}}">
                                                                    {% if usr.cluster_id == "" %} Select Cluster
                                                                    {% else %} {{clust_name}} {% endif %} </option>
                                                                {% if usr.cluster_id == "" %}
                                                                {% for cluster in clusters %}
                                                                <option value="{{cluster.id}}">{{cluster}}
                                                                </option>
                                                                {% endfor %}
                                                                {% else %}
                                                                {% for cluster in excluding_user_c_cs %}
                                                                <option value="{{cluster.id}}">{{cluster}}
                                                                </option>
                                                                {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    <button type="submit"
                                                        class="btn btn-primary float-right">SUBMIT</button>

                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- page-body end -->
                                </div>
                                {% comment %} <div id="styleSelector"> </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- menu js -->
    <script src="{% static 'assets/js/pcoded.min.js'%}"></script>
    <script src="{% static 'assets/js/vertical-layout.min.js'%} "></script>
    <!-- custom js -->
    <script type="text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.js'%}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.js'%} "></script>

</body>

{% endblock %}