{% load static %}
{% include 'base.html' %}

{% block content %}

<body>

  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
      {% include 'includes/dnavbar.html' %}

      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          {% include 'includes/sidebar.html' %}
          <div class="pcoded-content">
            <div class="pcoded-inner-content">
              <!-- Main-body start -->
              <div class="main-body">
                <div class="page-wrapper">
                  <!-- Page-body start -->
                  <div class="page-body">
                    <div class="row">
                      <div class="col-xl-4 col-md-6">
                        <a href="/epani/?filter=all">
                          <div class="card">
                            <div class="card-block">
                              <div class=" d-flex">
                                <h6 class="">All Machines</h6>
                                <h4 class="text-c-purple ml-auto">{{machines_count}}
                                </h4>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-xl-4 col-md-6">
                        <a href="/epani/?filter=online">
                          <div class="card">
                            <div class="card-block">
                              <div class=" d-flex">
                                <h6 class="">Online Machines</h6>
                                <h4 class="text-c-green ml-auto">{{machines_online}}
                                </h4>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-xl-4 col-md-6">
                        <a href="/epani/?filter=offline">
                          <div class="card">
                            <div class="card-block">
                              <div class=" d-flex">
                                <h6 class="">Offline Machines</h6>
                                <h4 class="text-c-red ml-auto">{{machines_offline}}</h4>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                    </div>
                    <div class="card">
                      <div class="card-header">

                        <div class="d-flex align-items-center">
                          <h5>{{filter}} MACHINES</h5>
                          
                          <a href="{% url 'machine' %}" class="btn btn-primary text-center ml-auto text-white">
                            ADD
                          </a>
                         
                        </div>

                      </div>
                      <div class="card-block table-border-style">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Machine Id</th>
                                <th>Machine Location</th>
                                <th>Machine Token</th>
                                <th>Machine Status</th>
                                <th>No.of Cards</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for machine in machines %}
                              <tr>
                                <td>{{machine.machine_id}}</td>
                                <td>{{machine.machine_location}}</td>
                                <td>{{machine.machine_token}}</td>
                                <td>{{machine.machine_status}}</td>
                                <td>{{machine.cards_count}} </td>
                                <td>

                                  <a href="#" class="btn-secondary p-2 text-white">
                                    EDIT
                                  </a>
                                  <a href="/epani/cards/?machine_id={{machine.machine_id}}&filter=all"
                                    class="btn-primary p-2 text-white ml-1">
                                    CARDS
                                  </a>


                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Page-body end -->
                </div>
                {% comment %} <div id="styleSelector"> </div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- menu js -->
  <script src="{% static 'assets/js/pcoded.min.js'%}"></script>
  <script src="{% static 'assets/js/vertical-layout.min.js'%} "></script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.js'%}"></script>
  <script type="text/javascript" src="{% static 'assets/js/script.js'%} "></script>

</body>

{% endblock %}