{% load static %}
{% include 'base.html' %}

{% block content %}

<body>

  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
      {% include 'includes/dnavbar.html' %}

      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          {% include 'includes/sidebar.html' %}
          <div class="pcoded-content">
            <div class="pcoded-inner-content">
              <!-- Main-body start -->
              <div class="main-body">
                <div class="page-wrapper">
                  <!-- Page-body start -->
                  <div class="page-body">



                    <div class="card">
                      <div class="card-header d-flex align-items-center">
                        <h5>ORDERS</h5>
                        <a href="/epani/order/" class="btn btn-primary text-center ml-auto text-white">
                          ADD
                        </a>
                      </div>
                      <div class="card-block table-border-style">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Order Id</th>
                                <th>Card Number</th>
                                <th>Machine Id</th>
                                <th>Amount</th>
                                <th>Volume (ml)</th>
                                <th>Order Status</th>
                                <th>Sync Status</th>
                                <th>Local Timestamp</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for order in orders %}
                              <tr>
                                <td>{{order.order_id}}</td>
                                <td>{{order.card_number}}</td>
                                <td>{{order.machine_id}}</td>
                                <td>&#x20B9; {{order.amount}} /-</td>
                                <td>{{order.volume_in_ml}}</td>
                                <td>{{order.order_status}}</td>
                                <td>{{order.sync_status}}</td>
                                <td>{{order.local_timestamp}}</td>
                                <td> 
                                  <a href="#" class="btn-secondary p-2 text-white">
                                    EDIT
                                  </a></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div><!-- page-body end -->
                </div>
                {% comment %} <div id="styleSelector"> </div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- menu js -->
  <script src="{% static 'assets/js/pcoded.min.js'%}"></script>
  <script src="{% static 'assets/js/vertical-layout.min.js'%} "></script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.js'%}"></script>
  <script type="text/javascript" src="{% static 'assets/js/script.js'%} "></script>

</body>

{% endblock %}