{% load static %}
{% include 'base.html' %}

{% block content %}

<body>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            {% include 'includes/dnavbar.html' %}

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    {% include 'includes/sidebar.html' %}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">

                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Order</h5>
                                                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                            </div>
                                            <div class="card-block">
                                                <form class="form-material" action={% url 'order' %} method='POST'>
                                                    {% csrf_token %}
                                                    <div class="form-group form-default">
                                                        <input type="text" name="order_id" class="form-control"
                                                            required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Order Id</label>
                                                    </div>
                                                    <div class="form-group form-default">
                                                        <input type="text" name="card_number" class="form-control"
                                                            required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Card Number</label>
                                                    </div>
                                                    <div class="form-group form-default">
                                                        <input type="text" name="machine_id" class="form-control"
                                                            required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Machine Id</label>
                                                    </div>
                                                    <div class="form-group form-default">
                                                        <input type="text" name="amount" class="form-control"
                                                            required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Amount</label>
                                                    </div>
                                                    <div class="form-group form-default">
                                                        <input type="text" name="volume_in_ml" class="form-control"
                                                            required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Volume (ml)</label>
                                                    </div>
                                                    <div class="form-group form-default">
                                                        <input type="text" name="order_status" class="form-control"
                                                            required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Order Status</label>
                                                    </div>
                                                    <div class="form-group form-default">
                                                        <input type="text" name="sync_status" class="form-control"
                                                            required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Sync Status</label>
                                                    </div>
                                                    <div class="form-group form-default">
                                                        <input type="text" name="local_timestamp" class="form-control"
                                                            required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Local Timestamp</label>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary btn-block">CREATE ORDER</button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- page-body end -->
                                </div>
                                {% comment %} <div id="styleSelector"> </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- menu js -->
    <script src="{% static 'assets/js/pcoded.min.js'%}"></script>
    <script src="{% static 'assets/js/vertical-layout.min.js'%} "></script>
    <!-- custom js -->
    <script type="text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.js'%}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.js'%} "></script>

</body>

{% endblock %}